@import "tailwindcss";

/* depois vem seu css */

:root {
  --bg: #0b0b0b;
  --text: #ffffff;
  --primary: rgb(179, 5, 5);
  --secondary: #d4af37;
  --wine: #740000ff;
}
.light {
  --bg: #ffffff;
  --text: #1a1a1a;
  --primary: #740000ff;
  --secondary: #111111;
}

body {
  background-color: #000;

  background-image:

    /* spotlight deslocado para baixo (fim da hero) */
    radial-gradient(
      circle at 50% 38%,
      rgba(179, 5, 5, 0.16) 0%,
      rgba(116, 0, 0, 0.08) 28%,
      transparent 60%
    ),
    /* manchas bem sutis nas bordas */
    radial-gradient(
        circle at 15% 70%,
        rgba(116, 0, 0, 0.07) 0%,
        transparent 65%
      ),
    radial-gradient(
      circle at 85% 75%,
      rgba(179, 5, 5, 0.06) 0%,
      transparent 70%
    ),
    radial-gradient(
      circle at 20% 95%,
      rgba(116, 0, 0, 0.05) 0%,
      transparent 75%
    ),
    radial-gradient(
      circle at 90% 95%,
      rgba(179, 5, 5, 0.05) 0%,
      transparent 75%
    );

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: var(--text);
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.04;
}

html {
  scroll-behavior: smooth;
}

.logo-img {
  width: 50px;
  height: auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 5%;
  margin-top: 80px;
}

.hero-text {
  max-width: 500px;
}

.hero-image {
  width: 400px;
  height: 400px;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 5%;
  background-color: rgba(11, 11, 11, 0.8);
  backdrop-filter: blur(10px);
}

.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header li {
  cursor: pointer;
  color: var(--text);
  transition: 0.3s;
}

.header li:hover {
  color: var(--secondary);
}

.header a {
  color: var(--text);
  text-decoration: none;
}

.header a:hover {
  color: var(--secondary);
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--primary);
}

/* Seção Sobre */

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 5%;
  gap: 40px;
}

.about-image {
  width: 300px;
  height: 300px;
  background-color: #222;
}

.about-text {
  max-width: 500px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}
