@import "tailwindcss";

/* depois vem seu css */

:root {
  --bg: #0b0b0b;
  --text: #ffffff;
  --primary: #740000ff;
  --secondary: #d4af37;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

html {
  scroll-behavior: smooth;
}

.logo-img {
  width: 50px;
  height: auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 5%;
  margin-top: 80px;
}

.hero-text {
  max-width: 500px;
}

.hero-image {
  width: 400px;
  height: 400px;
}

.hero-image img {
  width: 100%;
  height: auto;
}

button:first-child {
  background-color: var(--primary);
  color: var(--text);
  border: none;
}

button:last-child {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 5%;
  background-color: rgba(11, 11, 11, 0.8);
  backdrop-filter: blur(10px);
}

.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header li {
  cursor: pointer;
  color: var(--text);
  transition: 0.3s;
}

.header li:hover {
  color: var(--secondary);
}

.header a {
  color: var(--text);
  text-decoration: none;
}

.header a:hover {
  color: var(--secondary);
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--primary);
}

/* Seção Sobre */

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 5%;
  gap: 40px;
}

.about-image {
  width: 300px;
  height: 300px;
  background-color: #222;
}

.about-text {
  max-width: 500px;
}
